{% extends "layout.twig" %}
{% block title %} Detalles de la canción {% endblock %}
{% block main_container %}
<div class="row">
    <div class="media col-xs-10">
        <div class="media-left media-middle">
            <img class="media-object" src="/covers/{{song._id}}.png" alt="logo"/>
        </div>
        <div class="media-body">
            <h2>{{ song.title }} </h2>
            <p class="small">{{ song.author }} </p>
            <p class="text-right">{{ song.kind }} €</p>
            <button type="button" class="btn btn-primary pull-right">{{ song.price }}</button>
            <!-- Cambiar por reproducir si esta comprada -->
        </div>
    </div>
</div>
{% endblock %}